<!DOCTYPE html>
<html>
<head>
<style>
head {
    font-size: 120%;
    text-align: center;
    background-color: dodgerblue;
    color: goldenrod;
}

body {
    color: goldenrod;
    padding: 20px;
    font-family: verdana;
    background-color: dodgerblue;
}

</style>
</head>
</html>
